<div class="body" onload="getUsers()">
  <div class="row">
    <div class="col-12">
      <label class="lab1">Persona Management</label>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <p class="p1">450</p>
        <p class="p2">Personas</p>
        <div class="search-bar">
          <img src="assets\images\MagnifyingGlass.svg" class="input-left-icon">
          <input type="search" placeholder="Search by Name,Location,Occupation" class="s1"/>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 d-flex justify-content-end align-items-center " >
        <a class="del" href="#"><img src="assets\images\Trash.svg" />Delete</a>
        <button class="rp-btn" routerLink="/Add-person" onclick="reRoute()">+ New Persona</button>
      </div>
    </div>
  </div>
  <div class="container">
    <table class="table table-hover" >
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input type="checkbox" id="selectAll" />
              <label for="selectAll"></label>
            </span>
          </th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Age</th>
          <th>Location</th>
          <th>Occupation</th>
          <th>Uploaded by</th>
          <th>Uploaded on</th>
          <th>No.of downloads</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <td>
            <span class="checkbox">
              <input
                type="checkbox"
                id="checkbox1"
                name="options[]"
                value="1"
              />
              <label for="checkbox1"></label>
            </span>
          </td>
          <td>{{ item.firstname }}</td>
          <td>{{ item.lastname }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.Location }}</td>
          <td>{{ item.Occupation }}</td>
          <td>{{ item.upBy }}</td>
          <td>{{ item.upOn }}</td>
          <td></td>
          <td>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
              <img src="assets\images\Trash.svg" alt="" />
            </a>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal">
              <img src="assets\images\edit.svg" alt="" />
            </a>
          </td>
        </tr>
        
      </tbody>
    </table>
    <!-- <p-paginator [rows]="5" [totalRecords]="50"></p-paginator>    -->
  </div>
</div>
