<div class="body" onload="getUsers()">
  <div class="row">
    <div class="col-12">
      <label class="lab1">Persona Management</label>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 row">
        <div class="col-1">
          <label class="p1">450</label>
          <label class="p2">Personas</label>
        </div>
        <div class="col-6 d-flex align-items-center d-flex align-items-center">
          <div class="position-relative w-100">
            <img src="assets\images\MagnifyingGlass.svg" class="input-left-icon">
            <input type="search" placeholder="Search by Name,Location,Occupation" class="search-input"/>
          </div>
        </div>
       
        
      </div>
      <div class="col-sm-12 col-md-4 d-flex justify-content-end align-items-center " >
        <a class="del" href="#"><img src="assets\images\Trash.svg" />Delete</a>
        <button class="rp-btn" routerLink="/Add-person" onclick="reRoute()">+ New Persona</button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <table class="table table-hover" >
      <thead>
        <tr class="tableHead">
          <th>
            <span class="custom-checkbox">
              <input type="checkbox" id="selectAll" />
              <img src="assets\images\empty-image.svg">
            </span>
          </th>
          <th>First Name <a href=""><img src="assets\images\arrow-down.svg"></a></th>
          <th>Last Name <img src="assets\images\arrow-down.svg"></th>
          <th>Gender <img src="assets\images\arrow-down.svg"></th>
          <th>Age <img src="assets\images\arrow-down.svg"></th>
          <th>Location <img src="assets\images\arrow-down.svg"></th>
          <th>Occupation <img src="assets\images\arrow-down.svg"></th>
          <th>Uploaded by <img src="assets\images\arrow-down.svg"></th>
          <th>Uploaded on <img src="assets\images\arrow-down.svg"></th>
          <th>No.of downloads <img src="assets\images\arrow-down.svg"></th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users" class="tablerow">
          <td>
            <span class="checkbox">
              <input
                type="checkbox"
                id="checkbox1"
                name="options[]"
                value="1"
              />
              <img src="assets\images\tukaram.svg" class="profile">
            </span>
          </td>
          <th>{{ item.firstname }}</th>
          <th>{{ item.lastname }}</th>
          <td>{{ item.gender }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.Location }}</td>
          <td>{{ item.occupation }}</td>
          <td>{{ item.upBy }}</td>
          <td>{{ item.upOn }}</td>
          <td>{{ item.nodownloads }}</td>
          <td>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
            <img src="assets\images\Trash.svg" alt="" />
            </a>
            <!-- <button class="btn btn-deafult"><i class="bi bi-trash"></i></button> -->
            <a href="#editEmployeeModal" class="edit" data-toggle="modal">
              <img src="assets\images\edit.svg" alt="" />
            </a>
          </td>
        </tr> 
      </tbody>
      <tfoot>
        <tr>
          <td colspan="10">
            <p-paginator [rows]="5" [totalRecords]="50" ></p-paginator>
          </td>
        </tr>
      </tfoot>
    </table>
       
  </div>
</div>
