
.lab1 {
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 24px;
  color: #242727;
}
.p1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  //margin-left: 4%;
  color: #242727;
}
.p2 {
  font-family: "Public Sans";
  font-size: 14px;
  font-weight: 700;
  // margin-left: 4%;
  // margin-top: -3%;
}
.search-input {
  display: flex;
  flex-direction: row;
  padding: 5px;
  // margin-left: 12%;
  // margin-top: 3px;
  width: 100%;
  height: 40px;
  padding-left: 2rem;
  
  background-color:white;
  border: none;
  outline-style: none;
  border: none;
  border-radius: 12px;
  // font-size: 75%;
}
.del {
  text-decoration: none;
  color: #242727;
  padding-right: 20px;
  font-weight: 500;
  
}
.search-bar{
  display: flex;
  background-color:white;
  border: 1.6px solid #DDDDDD;
  top: 25px;
  left: 19px;
  size: 25px;
  width: 350px;
  position: absolute;
  height: 48px;
  margin-top: 140px;
  margin-left: 155px;
  border-radius: 12px;
}
.rp-btn{
  border-color:#d5ebef;
  color:white;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border-radius: 12px;
  padding: 10px;
  width: 148px;
  height: 48px;
  right: 0px;
  top: 0px;
}
.input-left-icon{
  position: absolute;
  left: 5px;
  top: 8px;
  display: flex;
  z-index: 999;
}
.table {
 
  border-radius: 12px;
  width: 100%;
  background-color: #ffffff;
  padding: 2px;
  text-align: center;
}
.tableHead {
  text-align: center;
  font-size: 12px;
  width: auto;
  height: 70px;
  border-bottom: solid #e5e5e5;
  vertical-align: middle;
}
.tablerow{
  text-align: center;
  width: 100%;
  font-size: 12px;
  height: 65px;
  padding-bottom: 15px;
  border-bottom: solid #e5e5e5;
  vertical-align:middle;
}
tfoot{
  width: auto;
  text-align: right;
}
.delete{
  padding: 20px;
}
.profile{
  border-radius: 5px;
  
}