<div class="container">
  <div class="header">
    <button type="button" class="btn-close" aria-label="Close" (click)="ngbModal.dismiss('Cross click')"></button>
  </div>
  <div class="dialogImg">
    <img src="assets\images\dialog.svg" />
  </div>
  <div class="body">
    <h3>Delete</h3>
    <h3>{{names + " "}}</h3>
    <p>
      Are you sure you want to delete the personas? All the selected persona
      data will be permanently removed
    </p>
  </div>
  <div class="footer">
    <button type="button" class="bi bi-trash btn btn-danger"  (click)="ngbModal.close('ok')">Delete</button>
  </div>
  <div class="cancel">
    <button type="button" class="btn-deafult" (click)="ngbModal.close('cancel')">Cancel</button>
  </div>
</div>