<ng-template #content let-modal>
  <div class="header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      
    ></button>
  </div>
  <div class="dialogImg">
    <img src="assets\images\dialog.svg" />
  </div>
  <div class="body">
    <h2>Delete personas?</h2>
    <p>
      Are you sure you want to delete the personas? All the selected persona
      data will be permanently removed
    </p>
  </div>
  <div class="footer">
    <button
      type="button"
      class="bi bi-trash btn btn-danger"
      
    >
      Delete
    </button>
  </div>
  <div class="cancel">
    <button
      type="button"
      class="btn btn-cancel"
      
    >
      Cancel
    </button>
  </div>
</ng-template>
