
 form {
    text-align: center;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(219, 237, 233, 0.8);
    border-radius: 12px;
    width: 600px;
    height: 55opx;
    left: 380px;
    top: 100px;
    bottom: 200px; 
    padding-bottom: 40px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;    
 }
.text {
    position: static;
    left: calc(50% - 480px/2);
    top: 120px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #242727;
    padding-top: 30px;
    padding-bottom: 5px;
}
 .form-control{
     
     padding-left: 30px;
 }
 .mail-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 4px;
 }
 .LockKey-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 4px;
 }
 .password-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top:6px;
    padding-left: 470px;
    cursor: pointer;
 }
 .container{
     background-color:  #cadfe3;
     
    
      
 }
