/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.rp-btn{
    border-radius: 12px;
    padding: 10px,24px,10px,24px;
    gap:8px;
    background: linear-gradient(280.96deg, #56C6DC 9.03%, #63D9C7 91.79%);
    border-radius: 12px;    
}