.add-container{
    background-color:  #d5ebef;
    height: 100vh;
    overflow: auto;  
    overflow-x: hidden;  
}
form {
    text-align: center;
    width: auto;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(219, 237, 233, 0.8);
    border-radius: 12px; 
    padding:1.5rem;
    padding-bottom: 1rem;    
}
.head{
    position: static;
    font-family: 'Public Sans';
    font-style: normal;
    font-size: 14px;
    text-transform: capitalize;
    flex: auto;
    padding-top: 4rem;
    padding-left: 2rem;    
}
.text{
    text-align:justify;
}
.button{
    text-align: end; 
    padding-top: 2rem;
}
 .form-group{
     padding: 5px;
 }
 .input-right-icon{
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    height: 60vh;
    padding-bottom: 2rem;
    padding-left: 3rem;
       
 }
 .btn-link{
     text-decoration: none;
     padding-right: 2rem;
     color: black;
 }
.gender{
    text-align: justify;
    padding: inherit;
}
.rp-btn{
    width: 7rem;
} 
 